body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.nav-link, .nav-link active {
  box-shadow: 10px 5px 5px rgb(217, 215, 215) ;

}

/* portfolio image hover colors */

.gray-clr {
  filter: grayscale(100%);
  transition: 0.5s;
}

.gray-clr:hover {
  filter: grayscale(0%);
}

